dist
back
node_modules
pnpm-lock.yaml
docker
Dockerfile*
LICENSE
yarn-error.log
.hsitory
.vscode
.docusaurus
.dockerignore
.DS_Store
.eslintignore
.prettierignore
.editorconfig
.gitignore
.eslintcache
*.lock
**/*.svg
**/*.md
**/*.ejs
**/*.html
**/*.png
**/*.toml